

/* SticNavbar  */

.navbar-light .navbar-nav .nav-link {
  color: #3F0E0A;
  font-family: "Bebas Neue";
  margin-left: 1em;
  margin-right: 2em;
}



/* hero cards no logro poner la imagen de background!! 

.hero1 {
  background-image:url("https://drive.google.com/file/d/1Q9GKw3BZE4hU11YxhkyjAU7xTk7dAUMd/view");
 max-width: 100%;
 height: auto
} */

.main_hero2 {
  background-color: #FAE8E6;
  background-image: url("images/perritoblanco.png");
}

.main_hero3 {
  background-color: #6BC5B1;
  background-image: url("images/perritoblanco.png");
}


/* TITULO hero cards */
 .hero-txt {
  font-family: 'Roboto Condensed', sans-serif;
  opacity: 90%;
  text-align: center;
  font-size: 9.5em;
  font-weight: bold;
    font-size: 9.5em;
}




/* TITULO PERSONALIZADO hero cards */
 .hero-txt1 {
  color: #3F0E0A;
}


.hero-txt2 {
  color: #E77564;
}

 .hero-txt3 {
  color: #FAE8E6;
}


/*Btn*/
 .btn-primary {
  font-family: 'Bebas Neue';
  letter-spacing: 1px;
  font-size: 0.8em;
  width: max-content;
  align-self: center;
}

/*Btn1*/

 .btn-primary1{
  border-color: #3F0E0A;
  background-color: #3F0E0A;
}

/*Btn2*/
 .btn-primary2{
  border-color: #E77564;
  background-color: #E77564;
}

/*Btn3*/
 .btn-primary3{
  border-color: #FAE8E6;
  background-color: #FAE8E6;
}




/* main_hero_p */
.main_hero_p {
  color: #3F0E0A;
  margin-top: 5em;
  margin-bottom: 5em;
  padding-left: 6em;
  text-align: start;
  font-size: 0.9em;
}





/*Footer*/

footer {
  grid-area:footer;
  padding: 1% 0 1% ;
  text-align: center;
  justify-self: center;
  align-self: center;
  background-color: #6BC5B1;
}

footer .ftext  {
  font-family: 'Roboto Condensed', sans-serif;
  color: #3F0E0A;
  font-size: 0.7em;
  padding-top: 0.99em;
  width: 50em;

}

